@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.panel {
    width: 100%;
    height: 100px;
    background-color: #2a2a2e;
    border-bottom:solid 2px black ;
}
body {
    margin: 0px;
    background-color:#bbb;
}
.k1 {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 380px ;
    top: 50px;
    transition: .1s;

}
.k1:hover {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 380px ;
    top: 50px;
    background-color: #00ff00;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 52px 0px;
}
.k2 {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 520px ;
    top: 50px;
    transition: .1s;

}
.k2:hover {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 520px ;
    top: 50px;
    background-color: #00ff00;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 52px 0px;
}
.k3 {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 660px ;
    top: 50px;
    transition: .1s;
}
.k3:hover {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 660px ;
    top: 50px;
    background-color: #00ff00;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 52px 0px;
}
.k4 {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 800px ;
    top: 50px;
    transition: .1s;
}
.k4:hover {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 800px ;
    top: 50px;
    background-color: #00ff00;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 52px 0px;
}
.text {
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left:18px;
    top:0px;
    font-size: 240%;
}
.img1 {
    width: 100px;
    height: 100px;
}
.k5 {
    height: 60px;
    width:130px;
    background-color: #00ff00;
    position: absolute;
    right:100px;
    top:20px;
    border-radius:10px;
    border-bottom:5px solid #009900;
    cursor: pointer;
}
.k5:hover {
    border-bottom:3px solid #009900;
    margin-top:2px;
}   
.k5:active {
    border-bottom:1px solid #009900;
    margin-top:4px;
}   
.k6 {
    height: 60px;
    width:130px;
    background-color: #00ff00;
    position: absolute;
    right:260px;
    top:20px;
    border-radius:10px;
    border-bottom:5px solid #009900;
    cursor: pointer;
}
.k6:hover {
    border-bottom:3px solid #009900;
    margin-top:2px;
}   
.k6:active {
    border-bottom:1px solid #009900;
    margin-top:4px;
}   
#slick-login {
    width: 220px;
    height: 155px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -75px;
    font-family: 'Roboto Slab', serif;
}

#slick-login label {
    display: none;
}

.placeholder {
    color: #444;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 7px;
    font-size: 14px;
    color: #444;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    padding-left: 20px;
    background-clip: padding-box;
    border-radius: 6px;
    box-shadow: inset 0px 2px 0px #d9d9d9;
    transition: all .1s ease-in-out;
}

#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
    box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
    margin-top: 0px;
}

#slick-login input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 107px;
    color: black;
    font-size: 18px;
    margin-left: -18px;
    font-weight: bold;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #00ff00;
    box-shadow: inset 0px 1px 0px #9ab1ec;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
#slick-login input[type="submit"]:hover {
    background-color: #00ff00;
    box-shadow: inset 0px 1px 0px #aab9f4;
    margin-top: 109px;
}

#slick-login input[type="submit"]:active {
    background-color: #00ff00;
    box-shadow: inset 0px 1px 0px #93a9e9;
}
.block {
    width:100px;
    height: 100px;
    position: absolute;
    top: 102px;
    left: -90px;
    border: 2px solid #2a2a2e;
    background-color: #00ff00;
    transform: rotate(45deg);
    transition: .2s;
}
.block:active {
    transform: rotate(0deg);
    position: absolute;
    left:0px;
}
.block1 {
    width:100px;
    height: 100px;
    position: absolute;
    top: 204px;
    left: -90px;
    border: 2px solid #2a2a2e;
    background-color: #00ff00;
    transform: rotate(45deg);
    transition: .2s;
}
.block1:active {
    transform: rotate(0deg);
    position: absolute;
    left:0px;
}
.foo {
    width: 100%;
    height: 40px;
    background-color: #2a2a2e;
    position: absolute;
    bottom:0px;   
}
.ttt {
    width:0px;
    height:150px;
    border-right:50px #2a2a2e solid;
    border-left:50px #2a2a2e solid;
    background-color: #00ff00;
    position: absolute;
    top:50%;
    left:50%;
    transition: .2s;
    transform: rotate(90deg);
}
.ttt:hover {
    width:110px;
    height:150px;
    border-right:5px #2a2a2e solid;
    border-left:5px #2a2a2e solid;
    background-color: #00ff00;
    transform: rotate(0deg);
    color:#2a2a2e;
}
.text2 {
    color:#2a2a2e;
}